.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.board {
  position: relative;
  background-color: gray;
  height: 600px;
  width: 300px;
}
